/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=ddb918299ec9c40e12d3)
 * Config saved to config.json and https://gist.github.com/ddb918299ec9c40e12d3
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* Display block in IE6-9 and FF3*/
/* ------------------------- */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Prevents modern browsers from displaying 'audio' without controls */
/* ------------------------- */

audio:not([controls]) {
    display: none;
    height: 0;
}

/* Base settings */
/* ------------------------- */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
/* Focus states */
a:focus {
  .tab-focus();
}
/* Hover & Active */
a:hover,
a:active,
a:focus {
  outline: 0;
}

/* Prevents sub and sup affecting line-height in all browsers */
/* ------------------------- */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* Img border in a's and image quality */
/* ------------------------- */

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%; /* Part 1: Set a maxium relative to the parent */
  width: auto\9; /* IE7-8 need help adjusting responsive images */
  height: auto; /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Prevent max-width from affecting Google Maps */
#map_canvas img,
.google-maps img {
  max-width: none;
}

/* Forms */
/* ------------------------- */

/* Font size in all browsers, margin changes, misc consistency */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible; /* Inner spacing ie IE6/7 */
  line-height: normal; /* FF3/4 have !important on line-height in UA stylesheet */
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Inner padding and border oddities in FF3/4 */
  padding: 0;
  border: 0;
}
button,
html input[type="button"], /* Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* Corrects inability to style clickable `input` types in iOS. */
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type `input` and others. */
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type `input` and others. */
}
input[type="search"] { /* Appearance in Safari/Chrome */
  .box-sizing(content-box);
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; /* Inner-padding issues in Chrome OSX, Safari 5 */
}
textarea {
  overflow: auto; /* Remove vertical scrollbar in IE6-9 */
  vertical-align: top; /* Readability and alignment cross-browser */
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

p,
pre {
    margin: 1em 0;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button,
select {
    text-transform: none;
}

small {
    font-size: 80%;
}

[hidden] {
    display: none;
}

/* Printing */
/* ------------------------- */
/* Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css */

@media print {

  .body-main {
    text-shadow: none !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* USER NORMALIZE */

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

textarea {
  resize: vertical;
}

address {
  font-style: normal;
}

input:focus,
textarea:focus {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video iframe,  
.video object,  
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.break-word {
  word-wrap: break-word;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-image: none;
}

body-main,
body-main:before,
body-main:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.body-main {
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}

.hidden-r {
  display: none;
}