/* font-family: "RobotoCondensedRegular"; */
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoCondensedLight"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.body-main {
    font-size: 16px;
    font-family: 'RobotoCondensedRegular';
    color: #383838;
}

.content-container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    position: relative;
}

.section-title {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    text-align: center;
}

.text {
    font-size: 18px;
}

::-webkit-input-placeholder {
    color: #898989;
}

::-moz-placeholder {
    color: #898989;
}

:-moz-placeholder {
    color: #898989;
}

:-ms-input-placeholder {
    color: #898989;
}

.bx-wrapper {
    position: relative;
}

.bx-controls {
    position: absolute;
    top: 120px;
    width: 100%;
}

.bx-next {
    position: absolute;
    right: -30px;
    background: url('../img/icons.png') no-repeat -595px -7px;
    width: 21px;
    height: 33px;
}

.bx-prev {
    position: absolute;
    left: -30px;
    background: url('../img/icons.png') no-repeat -526px -7px;
    width: 21px;
    height: 33px;
}

.bx-next:hover {
    background-position: -595px -49px;
}

.bx-prev:hover {
    background-position: -526px -47px;
}

.button {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    width: 260px;
}

.red-button {
    background: rgb(244, 123, 85);
    background: -moz-linear-gradient(top, rgba(244, 123, 85, 1) 0%, rgba(244, 123, 85, 1) 50%, rgba(41, 137, 216, 1) 50%, rgba(240, 72, 20, 1) 50%, rgba(240, 72, 20, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 123, 85, 1)), color-stop(50%, rgba(244, 123, 85, 1)), color-stop(50%, rgba(41, 137, 216, 1)), color-stop(50%, rgba(240, 72, 20, 1)), color-stop(100%, rgba(240, 72, 20, 1)));
    background: -webkit-linear-gradient(top, rgba(244, 123, 85, 1) 0%, rgba(244, 123, 85, 1) 50%, rgba(41, 137, 216, 1) 50%, rgba(240, 72, 20, 1) 50%, rgba(240, 72, 20, 1) 100%);
    background: -o-linear-gradient(top, rgba(244, 123, 85, 1) 0%, rgba(244, 123, 85, 1) 50%, rgba(41, 137, 216, 1) 50%, rgba(240, 72, 20, 1) 50%, rgba(240, 72, 20, 1) 100%);
    background: -ms-linear-gradient(top, rgba(244, 123, 85, 1) 0%, rgba(244, 123, 85, 1) 50%, rgba(41, 137, 216, 1) 50%, rgba(240, 72, 20, 1) 50%, rgba(240, 72, 20, 1) 100%);
    background: linear-gradient(to bottom, rgba(244, 123, 85, 1) 0%, rgba(244, 123, 85, 1) 50%, rgba(41, 137, 216, 1) 50%, rgba(240, 72, 20, 1) 50%, rgba(240, 72, 20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47b55', endColorstr='#f04814', GradientType=0);
}

.red-button:hover {
    background: rgb(246, 147, 116);
    background: -moz-linear-gradient(top, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246, 147, 116, 1)), color-stop(50%, rgba(246, 147, 116, 1)), color-stop(50%, rgba(244, 123, 85, 1)), color-stop(50%, rgba(242, 105, 63, 1)), color-stop(100%, rgba(242, 105, 63, 1)));
    background: -webkit-linear-gradient(top, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f69374', endColorstr='#f2693f', GradientType=0);
}

.red-button:active {
    background: rgb(246, 147, 116);
    background: -moz-linear-gradient(top, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246, 147, 116, 1)), color-stop(50%, rgba(246, 147, 116, 1)), color-stop(50%, rgba(244, 123, 85, 1)), color-stop(50%, rgba(242, 105, 63, 1)), color-stop(100%, rgba(242, 105, 63, 1)));
    background: -webkit-linear-gradient(top, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 147, 116, 1) 0%, rgba(246, 147, 116, 1) 50%, rgba(244, 123, 85, 1) 50%, rgba(242, 105, 63, 1) 50%, rgba(242, 105, 63, 1) 100%);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) inset;
}

input[type=text] {
    height: 50px;
    background: white;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    width: 260px;
    padding: 0 15px;
}

input[type=text]:first-of-type {
    margin-right: 8px;
}

nav {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 20px;
    margin-left: -20px;
}

.header {
    background: url(../img/bg1.jpg);
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 93px;
    z-index: 100;
}

.header .logo {
    background: url('../img/icons.png') no-repeat 0 0;
    width: 90px;
    height: 82px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 35px;
}

.header .wrapper {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: 15px;
}

nav a {
    margin: 15px 17px;
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
    display: inline-block;
    vertical-align: top;
}

nav a:hover {
    text-decoration: none;
    color: white;
}

nav a.current {
    margin: 0;
    margin-top: 4px;
    padding: 11px 17px;
    border-bottom: none;
    display: inline-block;
    background: #f04814;
    cursor: default;
}

.header .phone {
    font-size: 28px;
    color: #959595;
    text-align: right;
    display: block;
    text-decoration: none;
}

.header .phone span {
    font-size: inherit;
    color: white;
    text-align: inherit;
}

.header .address {
    font-size: 17px;
    color: white;
    line-height: 29px;
}

.main {
    background-color: #c4d1e2;
    padding: 0px 0 0px;
}

.main .wrapper {
    margin-top: 25px;
    float: right;
    padding: 25px 25px 15px;
    padding-right: 30px;
    background: rgba(0, 0, 0, 0.65);
    width: 615px;
    position: relative;
    margin-bottom: 15px;
}

.main h1, .main .section-title {
    color: white;
    font-size: 28px;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 65px;
}

.main .icon {
    background: url('../img/icons.png') no-repeat -148px 0;
    width: 53px;
    height: 88px;
    position: absolute;
    top: 30px;
    left: 22px;
}

.main .divider {
    width: 100%;
    background: white;
    height: 1px;
    margin: 8px 0;
}

.sub-title span {
    line-height: 80px;
    height: 100%;
}

.sub-title {
    height: 80px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 8px 0;
}

.sub-title.empty {
    height: 1px;
    background: white;
    margin: 40px 0;
    border: none;
}

.main h2 {
    color: #ff8f58;
    text-transform: uppercase;
    font-family: 'RobotoCondensedLight';
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.main .text {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 25px;
}

.main form {
    margin: 18px auto 0;
    width: 538px;
    text-align: center;
}

.advantages {
    padding: 35px 0;
}

.advantages .advantage {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.advantage .image {
    margin: 0 auto 20px;
    background-position: center;
}

.advantage .old {
    background: url('../img/icons.png') no-repeat 0 -142px;
    width: 84px;
    height: 116px;
}

.advantage .guaranty {
    background: url('../img/icons.png') no-repeat -313px -142px;
    width: 138px;
    height: 112px;
}

.advantage .success_projects {
    background: url('../img/icons.png') no-repeat -143px -142px;
    width: 116px;
    height: 113px;
}

.advantage .speed {
    background: url('../img/icons.png') no-repeat -495px -142px;
    width: 128px;
    height: 112px;
    position: relative;
    left: -6px;
}

.advantages .text {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 22px;
}

.spheres {
    padding: 30px 0 40px;
    background: url(../img/bg2.jpg);
    border-top: 1px solid #d4d9db;
}

.spheres .tabs {
    margin-top: 35px;
    text-align: center;
    font-size: 16px;
}

.tabs .tab {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    border-radius: 4px;
    padding: 20px 5px;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0);
}

.tabs .tab .name {
    margin-bottom: 10px;
    color: black;
}

.tabs .tab .objects {
    color: #7c7c7c;
}

.tabs .tab.active {
    background: white;
    border: 1px solid #d2d7d9;
    border-bottom: none;
    position: relative;
    z-index: 10;
    cursor: default;
}

.tabs .tab.active .name, .tabs .tab.active .objects {
    color: #f86335;
}

.spheres .sphere {
    border: 1px solid #d2d7d9;
    border-radius: 4px;
    background: white;
    padding: 20px;
    margin-top: -3px;
}

.sphere .divider {
    width: 100%;
    height: 1px;
    background: #d2d7d9;
    margin: 10px 0 20px;
    margin-left: -20px;
}

.sphere .title {
    font-size: 18px;
    text-transform: uppercase;
}

.sphere img {
    vertical-align: top;
    margin-right: 20px;
    border-radius: 4px;
}

.sphere ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 25px;
    max-width: 400px;
}

.sphere ul li {
    position: relative;
    padding-left: 28px;
}

.sphere ul li + li {
    margin-top: 15px;
}

.sphere ul li:before {
    content: '';
    position: absolute;
    background: url('../img/icons.png') no-repeat -354px -8px;
    width: 16px;
    height: 16px;
    left: 0;
    top: 2px
}

.access {
    background: url(../img/access-bg.jpg);
    background-position: center top;
    background-color: #454545;
    padding: 60px 0 28px;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
}

.access .section-title {
    color: #ff8f58;
    margin-bottom: 3px;
}

.access .text {
    color: #bababa;
    text-align: center;
}

.access form {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.access input-submit {
    margin-left: 8px;
}

.access:before {
    content: '';
    background: url('../img/icons.png') no-repeat -401px -8px;
    width: 107px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.access:after {
    content: '';
    width: 100%;
    height: 9px;
    background: url(../img/access-bottom.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.projects {
    padding: 50px 0 130px;
    background: url(../img/bg3.jpg);
    position: relative;
}

.projects:after {
    content: '';
    background: url(../img/projects-bottom.png);
    width: 100%;
    height: 92px;
    background-position: center top;
    position: absolute;
    bottom: -10px;
}

.projects .section-title {
    margin-bottom: 50px;
}

.projects .slider {
    margin: 0 auto;
}

.projects .info {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    width: 500px;
}

.projects .slide img {
    width: 350px;
    border-radius: 4px;
}

.projects .slide h2 {
    font-family: 'RobotoCondensedLight';
    text-align: left;
    margin-bottom: 5px;
}

.projects .slide .text {
    font-size: 18px;
    margin-bottom: 20px;
}

.projects .slide li {
    counter-increment: step-counter;
    padding: 0 15px;
    margin-left: 46px;
    position: relative;
    background: #f1f5f7;
    height: 40px;
    margin-bottom: 6px;
    line-height: 40px;
    font-size: 18px;
}

.projects .slide li:before {
    content: counter(step-counter);
    font-size: 18px;
    display: block;
    color: white;
    position: absolute;
    top: 0;
    left: -46px;
    width: 40px;
    height: 40px;
    background: #f86335;
    text-align: center;
}

.projects .slide ul {
    margin-bottom: 15px;
}

.projects .contact-name span {
    color: #626262;
}

.clients {
    padding: 40px 0 45px;
}

.clients .section-title {
    margin-bottom: 35px;
}

.clients .slider {
    text-align: center;
}

.clients .slide {
    width: 245px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.clients .slide + .slide {
    margin-left: 70px;
}

.clients .slide img {
    margin-bottom: 15px;
    height: 245px;
    width: 245px;
    border-radius: 50%;
}

.clients .slide .name {
    color: #f86335;
    margin-bottom: 2px;
}

.clients .slide .post {
    margin-bottom: 3px;
}

.clients .slide .phone {
    color: #7c7c7c;
}

.clients .bx-controls {
    top: 105px;
}

.why-we {
    padding-bottom: 30px;
}

.why-we .top {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    height: 115px;
    background: url(../img/why-we-top.png);
    background-position: center;
}

.why-we .top:before {
    content: '';
    background: url('../img/icons.png') no-repeat -250px 0;
    width: 53px;
    height: 88px;
    display: block;
    position: absolute;
    top: 62px;
    left: 128px;
}

.why-we .reasons {
    margin-top: 40px;
    text-align: center;
}

.why-we .reason {
    display: inline-block;
    vertical-align: top;
    min-width: 190px;
}

.why-we .reason.wide {
    min-width: 240px;
}

.why-we .reason .image {
    width: 100px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.why-we .reason .image div {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.why-we .image .five {
    background: url('../img/icons.png') no-repeat 0 -328px;
    width: 34px;
    height: 50px;
}

.why-we .image .purse {
    background: url('../img/icons.png') no-repeat -106px -326px;
    width: 68px;
    height: 68px;
}

.why-we .image .hand {
    background: url('../img/icons.png') no-repeat -362px -331px;
    width: 63px;
    height: 66px;
}

.why-we .image .check {
    background: url('../img/icons.png') no-repeat -475px -330px;
    width: 66px;
    height: 64px;
}

.why-we .image .clock {
    background: url('../img/icons.png') no-repeat -232px -328px;
    width: 71px;
    height: 68px;
}

.why-we .image .cro {
    background: url('../img/icons.png') no-repeat 0 -442px;
    width: 63px;
    height: 51px;
}

.why-we .image .work {
    background: url('../img/icons.png') no-repeat -115px -424px;
    width: 56px;
    height: 69px;
}

.why-we .image .specialists {
    background: url('../img/icons.png') no-repeat -244px -433px;
    width: 55px;
    height: 67px;
}

.why-we .image .certificate {
    background: url('../img/icons.png') no-repeat 0 -546px;
    width: 57px;
    height: 80px;
}

.why-we .image .ppr {
    background: url('../img/icons.png') no-repeat -124px -546px;
    width: 47px;
    height: 67px;
}

.why-we .image .calculates {
    background: url('../img/icons.png') no-repeat -244px -549px;
    width: 74px;
    height: 74px;
}

.why-we .image .instruments {
    background: url('../img/icons.png') no-repeat -377px -546px;
    width: 56px;
    height: 77px;
}

.why-we .image .tender {
    background: url('../img/icons.png') no-repeat -244px -549px;
    width: 74px;
    height: 74px;
}

.why-we .image .all-in-one {
    background: url('../img/icons.png') no-repeat -115px -424px;
    width: 56px;
    height: 69px;
}

.why-we .image .modern-tools {
    background: url('../img/icons.png') no-repeat -377px -546px;
    width: 56px;
    height: 77px;
}

.why-we .reason .text {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
}

.why-we .reason .text span {
    font-size: 12px;
}

.why-we .divider {
    width: 100%;
    height: 1px;
    background: #e0e4e7;
    margin: 30px 0;
}

.why-we .additional {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 67px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 23px;
    text-align: left;
}

.why-we .additional + .additional {
    margin-left: 30px;
}

.why-we .additional:before {
    content: '';
    background: url('../img/icons.png') no-repeat -595px -339px;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 2px;
    left: 0;
}

.feedbacks {
    padding: 35px 0 40px;
    background: url(../img/bg3.jpg);
}

.feedbacks .section-title {
    margin-bottom: 28px;
}

.feedbacks .slider {
    width: 870px;
    margin: 0 auto;
}

.feedbacks .slide {
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.feedbacks .slide .text {
    font-size: 16px;
    margin: 0 auto;
    width: 150px;
}

.feedbacks .slide img {
    width: 150px;
    height: 210px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.feedbacks .bx-controls {
    top: 90px;
}

.question {
    padding: 45px 0;
    background: url(../img/question-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #c4d1e2;
}

.question h2 {
    font-weight: normal;
    text-transform: uppercase;
}

.question .content-container {
    min-height: 160px;
}

.question .wrapper {
    float: right;
    width: 470px;
}

.question .ask-button {
    margin: 35px auto 0;
}

.map {
    height: 475px;
    position: relative;
    overflow: hidden;
}

.map .section-title {
    margin-top: 20px;
}

.map .top {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
    z-index: 50;
}

footer {
    min-height: 175px;
}

footer .top {
    height: 105px;
    background: url(../img/bg1.jpg);
}

footer .bottom {
    background: #555;
    border-top: 1px solid #696969;
}

footer .logo {
    background: url('../img/icons.png') no-repeat 0 0;
    width: 90px;
    height: 82px;
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
    margin-right: 45px;
}

footer .phone {
    font-size: 28px;
    color: #959595;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 40px;
}

footer .phone span {
    font-size: inherit;
    color: white;
    text-align: inherit;
}

footer .polytics {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

footer .confidential {
    font-size: 18px;
    border-bottom: 1px dashed #bababa;
    color: #bababa;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    font-family: 'RobotoCondensedLight';
    cursor: pointer;
}

footer .copyright {
    font-family: 'RobotoCondensedLight';
    font-size: 12px;
    color: #bababa;
    text-transform: uppercase;
}

footer .marketing-logo {
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 236px;
    height: 37px;
    margin-top: 25px;
}

footer .bottom {
    padding: 15px 0;
}

footer .bottom div {
    color: #bababa;
    text-align: center;
    line-height: 25px;
}

/* arctic modal */
.arcticmodal-overlay,
.arcticmodal-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.arcticmodal-container {
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

*:first-child + html .arcticmodal-container {
    height: 100%
}

.arcticmodal-container_i {
    height: 100%;
    margin: 0 auto;
}

.arcticmodal-container_i2 {
    padding: 24px;
    margin: 0;
    border: 0;
    vertical-align: middle;
}

.arcticmodal-error {
    padding: 20px;
    border-radius: 10px;
    background: #000;
    color: #fff;
}

.arcticmodal-loading {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #000 url(../img/loading.gif) no-repeat 50% 50%;
}

/* arctic modal - simple theme */
.box-modal {
    position: relative;
    width: 600px;
    padding: 25px 40px 35px;
    min-height: 300px;
    background: #dee2e5;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.box-modal_close {
    position: absolute;
    right: 13px;
    top: 15px;
    cursor: pointer;
    background: url('../img/icons.png') no-repeat -356px -61px;
    width: 14px;
    height: 14px
}

.box-modal_close:hover {
    background-position: -356px -93px;
}

.box-modal h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'RobotoCondensedLight';
}

.box-modal .divider {
    width: 100%;
    background: white;
    height: 3px;
    margin: 15px 0 40px;
    position: relative;
}

.box-modal .divider:before {
    position: absolute;
    content: '';
    top: 1px;
    left: -20px;
    background: url('../img/icons.png') no-repeat -148px 0;
    width: 53px;
    height: 88px;
}

.box-modal .text {
    text-align: center;
    font-size: 20px;
}

.box-modal input[type=submit] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
}

.box-modal form {
    width: 470px;
    margin: 25px auto 0;
}

.box-modal input[type=text] {
    display: block;
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
}

.box-modal textarea {
    width: 100%;
    height: 115px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
    display: block;
    border: none;
    padding: 15px;
    font-size: 14px;
    resize: none;
    overflow: auto;
}

#confidential-modal {
    background-color: #e8e8e8;
    background-image: none;
    max-height: 600px;
    overflow: auto;
}

#confidential-modal p {
    color: black;
    font-size: 14px;
}

#confidential-modal h3, #confidential-modal h2 {
    color: initial;
}

#confidential-modal .box-modal_close, #confidential-modal .box-modal_close:hover {
    background-position: -388px -61px;
}

#success-modal .button {
    margin: 35px auto 0;
}

#zoom-modal {
    width: auto;
    padding: 3px;
    background: white;
    border-radius: 4px;
}

/*  jquery.validationengine  */
/* Z-INDEX */
.formError {
    z-index: 990;
}

.formError .formErrorContent {
    z-index: 991;
}

.formError .formErrorArrow {
    z-index: 996;
}

.ui-dialog .formError {
    z-index: 5000;
}

.ui-dialog .formError .formErrorContent {
    z-index: 5001;
}

.ui-dialog .formError .formErrorArrow {
    z-index: 5006;
}

.inputContainer {
    position: relative;
    float: left;
}

.formError {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
    cursor: pointer;
    text-align: left;
}

.formError.inline {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}

.ajaxSubmit {
    padding: 20px;
    background: #55ea55;
    border: 1px solid #999;
    display: none;
}

.formError .formErrorContent {
    width: 100%;
    background: #ee0101;
    position: relative;
    color: #fff;
    min-width: 120px;
    font-size: 11px;
    border: 2px solid #ddd;
    box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    -o-box-shadow: 0 0 6px #000;
    padding: 4px 10px 4px 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}

.formError.inline .formErrorContent {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}

.greenPopup .formErrorContent {
    background: #33be40;
}

.blackPopup .formErrorContent {
    background: #393939;
    color: #FFF;
}

.formError .formErrorArrow {
    width: 15px;
    margin: -2px 0 0 13px;
    position: relative;
}

body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
    margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    margin: 0px 0 0 12px;
    top: 2px;
}

.formError .formErrorArrow div {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    box-shadow: 0 2px 3px #444;
    -moz-box-shadow: 0 2px 3px #444;
    -webkit-box-shadow: 0 2px 3px #444;
    -o-box-shadow: 0 2px 3px #444;
    font-size: 0px;
    height: 1px;
    background: #ee0101;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block;
}

.formError .formErrorArrowBottom div {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
    background: #33be40;
}

.blackPopup .formErrorArrow div {
    background: #393939;
    color: #FFF;
}

.formError .formErrorArrow .line10 {
    width: 11px;
    border: none;
}

.formError .formErrorArrow .line9 {
    width: 9px;
    border: none;
}

.formError .formErrorArrow .line8 {
    width: 11px;
}

.formError .formErrorArrow .line7 {
    width: 9px;
}

.formError .formErrorArrow .line6 {
    width: 7px;
}

.formError .formErrorArrow .line5 {
    width: 5px;
}

.formError .formErrorArrow .line4 {
    width: 3px;
}

.formError .formErrorArrow .line3 {
    width: 1px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
    width: 3px;
    border: none;
    background: #ddd;
}

.formError .formErrorArrow .line1 {
    width: 1px;
    border: none;
    background: #ddd;
}

@media screen and (min-width: 768px) {
    .mb-visible {
        display: none !important;
    }

    .mb-hidden {
        display: block !important;
    }
}

@media only screen and (max-device-width: 767px) {
    .mb-visible {
        display: block !important;
    }

    .mb-hidden {
        display: none !important;
    }
}

.footer-contacts {
    display: inline-block;
}

.footer-email {
    margin: 0;
    font-size: 28px;
    color: #fff;
    line-height: 1;
}

.first-banner-element {
    margin-top: 5rem;
}

@media (min-width: 1300px) {
    .wrapper-middle {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1300px) {
    .wrapper-block {
        width: 100%;
    }

    .main .wrapper {
        float: left;
    }
}

@media (max-width: 1300px) and (min-width: 700px) {
    .wrapper-width {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    .first-banner-element {
        margin-top: 4rem;
    }
}

@media (min-width: 992px) {
    .wrapper-width-md {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper-width-md-small {
        width: 320px;
    }
}
